<html>
    <body>
        <h1>APLICACION FITNESS</h1>
        <h2>Listados de enlaces</h2>
        <div>
            <h3>
                Ultimo voto:
            </h3>
           <ul>
                <li><p>Nombre:{{usuario_mostrar.u_creador}}</p>
                    <p>Puntuación:{{usuario_mostrar.puntuacion}}</p>
                    <p>Comentario:{{usuario_mostrar.comentario}}</p>
                    <p>Fecha:{{usuario_mostrar.fecha}}</p>
                    <p>Ejercicio:{{usuario_mostrar.ejercicio}}</p></li>

           </ul>

        </div>
  

        <footer>
            <p>Pie de página &copy; 2023 Gabriela Pinzón</p>
        </footer>
    </body>

</html>