{% load static %}
<div class="card custom-card">
    <div class="custom-card-body">
        <h5 class="card-title"><a href="{% url 'mostrar_rutina' rutina.id  %}"> {{ rutina.id|capfirst }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Usuario:{{ rutina.usuario }}</h6>
        <p class="card-text">Fecha:{{ rutina.fecha }}</p>
        <p class="card-text">Descripción:{{ rutina.descripcion}}</p>
        <p class="card-text">Duración:{{ rutina.duracion}}</p>
        <div>
            <p class="card-text">Ejercicios:</p>
            <ul >
                {% for ejercicio in rutina.ejercicios.all %}
                    <li class="card-text" >{{ ejercicio.nombre }}</li>
                {% empty %}
                    <li class="card-text">No hay ejercicios asociados a este rutina.</li>
                {% endfor %}
            </ul>
        </div>
        <div>
        </div>
        {% load bootstrap_icons %}
        <div class="btn-group custom-btn-group">
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'rutina_editar' rutina.id %}">
                    <span>{% bs_icon 'pencil' %}</span> 
                </a>
            </button>
            
            
            <form action="{% url 'rutina_eliminar' rutina.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" type="button">
                    <span>{% bs_icon 'trash' %}</span> 
                </button>
                 <!-- Ventana modal -->
                 <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que deseas eliminar esta rutina?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>