<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <h1>Lista de ejercicios:</h1>
        {% for ejercicio in ejercicios_mostrar %}
        
        <a href="" class="btn btn-outline-light mt-3">EJERCICIO</a>
           <div class="col-sm-4 mb-2">
            <p><b>Nombre:</b>{{ejercicio.nombre}}</p>
            <p><b>Descripción:</b>{{ejercicio.descripcion}}</p>
            <p><b>Tipo Ejercicio:</b>{{ejercicio.tipo_ejercicio}}</p>
            <p><b>Usuarios:</b>
                <ul>
                {% for usuario in ejercicio.usuarios %}
                    <li>Nombre:{{usuario.usuario.username}}</li>
                {% endfor%}
            </ul>
            </p>
           </div>
           <hr>
           <br>
    </div>
    <div class="row mt-3">
        
    </div>
    {% empty%}
    <h1>Lo sentimos pero no hay ejercicios.</h1>
    {% endfor %}
</body>
</html>