{% load static %}

<scrpt src="{% static 'javascript/principal.js' %}"></script>
<div class="card custom-card">
    <div class="custom-card-body">
        <h5 class="card-title"><a href="{% url 'ejercicio_mostrar' ejercicio.id  %}"> {{ ejercicio.nombre|capfirst }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Nombre:{{ ejercicio.nombre }}</h6>
        <p class="card-text">Descripción:{{ ejercicio.descripcion }}</p>
        <p class="card-text">Tipo de ejercicio:{{ ejercicio.tipo_ejercicio }}</p>
        <div>
            <p class="card-text" >Usuarios:</p>
            <ul >
                {% for usuario in ejercicio.usuarios.all %}
                    <li class="card-text" >{{ usuario.nombre }}</li>
                {% endfor%}
            </ul>
        </div>
        {% load bootstrap_icons %}
        <div class="btn-group custom-btn-group">
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'ejercicio_editar' ejercicio.id %}">
                    <span>{% bs_icon 'pencil' %}</span> 
                </a>
            </button>
            
            <form action="{% url 'ejercicio_eliminar' ejercicio.id %}" method="post" id="deleteForm">
                {% csrf_token %}
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" type="button">
                    <span>{% bs_icon 'trash' %}</span> 
                </button>
            
                <!-- Ventana modal -->
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que deseas eliminar este ejercicio?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>
</div>
<br>
<br>
