{% extends 'fitness/principal.html' %}
{% load static %}
{% load bootstrap_icons %}  <!-- Debe ir antes de cualquier uso de las etiquetas de íconos -->

{% block cabecera %}
<br>
  <h2 class="display-5">LISTA DE COMENTARIOS:</h2>
{% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
        {% endfor %}
    {% endif %}

    {% block busqueda %}
    <form method="get" action="{% url 'comentario_buscar' %}">
        <div class="mb-3">
            <label for="search-query" class="form-label">¿Desea buscar un comentario?</label>
            <div class="input-group">
                <input type="text" class="form-control" id="search-query" placeholder="Buscar comentario..." name="textoBusqueda" value="">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </div>
    </form>

    <div class="mt-3">
        <label class="form-label">¿Desea realizar una búsqueda avanzada?</label>
        <a href="{% url 'comentario_busqueda_avanzada' %}" class="btn btn-outline-secondary">Búsqueda Avanzada</a>
    </div>
    <br>
{% endblock %}

    <div class="row">
        {% for comentario in mostrar_comentarios%}
            <div class="col-sm-4 mb-2">
                {% include 'fitness/comentario/comentario.html' %}
            </div>
        {% empty %}
            <h1 class="display-6">Lo sentimos pero no hay comentarios</h1>
        {% endfor %}
    </div>
    <br>
    <br>
{% endblock %}